
/* Membership Levels and Advanced Levels Page Shortcode */
#pmpro_levels {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#pmpro_levels .medium-4,
#pmpro_levels .medium-3 {
	text-align: center;
}
.pmpro_advanced_levels-div .pmpro_level .post {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--grey-1);
	border-radius: var(--wp--custom--border--radius);
	box-shadow: var(--wp--custom--shadow);
	color: var(--wp--preset--color--contrast);
	margin: var(--wp--preset--spacing--20);
}

#pmpro_levels .post h2,
.memberlite_signup h2,
.pmpro_signup_form h2 {
	color: var(--wp--preset--color--primary);
	margin: 0;
}
#pmpro_levels .medium-4 .pmpro_btn,
#pmpro_levels .medium-3 .pmpro_btn,
.pmpro_levels-table .pmpro_btn,
.pmpro_advanced_levels-compare_table .pmpro_btn,
.pmpro_advanced_levels-compare_table_responsive .pmpro_btn {
	display: block;
}
#primary #pmpro_levels .entry-footer .pmpro_btn {
	color: var(--memberlite-color-white);
}
#pmpro_levels.pmpro_levels-table.pmpro_level-highlight,
#pmpro_levels.pmpro_levels-div .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-2col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-3col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-4col .pmpro_level-highlight,
.memberlite_signup,
.pmpro_signup_form {
	padding: 1rem;
	background-color: var(--memberlite-color-white);
	z-index: 100;
	border-top: .5rem solid var(--memberlite-color-secondary);
	border-bottom: 1.5rem solid var(--memberlite-color-secondary);
	border-left: 1px solid var(--memberlite-color-borders);
	border-right: 1px solid var(--memberlite-color-borders);
}
#pmpro_levels.pmpro_levels-2col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-3col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-4col .pmpro_level-highlight {
	margin-top: var(--wp--preset--spacing--10) - calc( var(--wp--preset--spacing--10) * 2);
}

#pmpro_levels_table td,
#pmpro_levels.pmpro_levels-table td {
	vertical-align: middle;
}

#pmpro_levels.pmpro_levels-table .pmpro_level-highlight td:first-child {
	border-left: 15px solid var(--memberlite-color-secondary);
}
#pmpro_levels.pmpro_levels-table .pmpro_level-highlight td:last-child {
	border-right: 15px solid var(--memberlite-color-secondary);
}

#pmpro_levels.pmpro_advanced_levels-compare_table {
	overflow: hidden;
}
#pmpro_levels.pmpro_advanced_levels-compare_table th,
#pmpro_levels.pmpro_advanced_levels-compare_table td {
	padding: 1rem 2rem;
	position: relative;
	text-align: center;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th {
	border: none;
	padding-top: 0;
	text-align: center;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th h2 {
	margin-bottom: 0;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th:first-child,
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot td:first-child {
	background: none;
	border: none;
	text-indent: -9999em;
	width: 20%;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr th:nth-child(even) {
	background-color: rgba(0,0,0,0.1);
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td {
	vertical-align: middle;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td:first-child {
	text-align: right;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr:last-child td {
	border-bottom: .5rem solid var(--memberlite-color-borders);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr:last-child th {
	border-bottom: .5rem solid var(--memberlite-color-borders);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot td.pmpro_level-highlight {
	border-left: 1rem solid var(--memberlite-color-secondary);
	border-right: 1rem solid var(--memberlite-color-secondary);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr:first-child th.pmpro_level-highlight {
	border-top: 1rem solid var(--memberlite-color-secondary);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr:last-child th.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr td.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot tr td.pmpro_level-highlight {
	border-bottom: none;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot tr:last-child td.pmpro_level-highlight {
	border-bottom: 1rem solid var(--memberlite-color-secondary);
}

#pmpro_levels.pmpro_advanced_levels-compare_table_responsive {
	display: none;
}
#pmpro_levels.pmpro_advanced_levels-compare_table_responsive {
	text-align: center;
}
#pmpro_levels.pmpro_advanced_levels-compare_table_responsive .pmpro_level-highlight {
	border-top: .5rem solid var(--memberlite-color-secondary);
	border-bottom: 1.5rem solid var(--memberlite-color-secondary);
	border-left: 1px solid var(--memberlite-color-borders);
	border-right: 1px solid var(--memberlite-color-borders);
}

#pmpro_levels.pmpro_advanced_levels-compare_table:hover tbody tr:nth-child(even) td {
	background: none !important;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr:hover {
	background-color: rgba(252,248,227,0.8);
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td:hover::after,
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr:nth-child(even) td:hover::after {
  background-color: rgba(252,248,227,0.3);
  content: "";
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

.pmpro_levels-3col .pmpro_level-price,
.pmpro_levels-4col .pmpro_level-price {
	font-size: 24px; font-size: 2.4rem;
}
.pmpro_levels-3col .pmpro_level-subprice,
.pmpro_levels-4col .pmpro_level-subprice {
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 2rem;
}
.pmpro_levels-3col .pmpro_level-trialprice,
.pmpro_levels-4col .pmpro_level-trialprice {
	display: block;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 2rem;
	margin: 1rem;
}
.pmpro_levels-div .pmpro_level-subprice,
.pmpro_levels-table .pmpro_level-subprice { }
.pmpro_levels-3col .pmpro_level-expiration,
.pmpro_levels-4col .pmpro_level-expiration { }

.pmpro_levels-div .pmpro_btn-select,
.pmpro_levels-2col .pmpro_btn-select {
	margin-left: 3rem;
}
.pmpro_levels-div .pmpro_level-price,
.pmpro_levels-2col .pmpro_level-price,
.pmpro_levels-div .pmpro_level-expiration,
.pmpro_levels-2col .pmpro_level-expiration {
	display: inline;
	margin: 0;
}
.memberlite_signup-fixed {
	position: fixed;
	top: 0;
}

/* Special Fields */
.pmpro_checkout-field-date select,
.pmpro_checkout-field-date input {
	margin-right: .9rem;
}

/* Membership Checkout */
.pmpro_asterisk {
	color: #C00;
}
.pmpro_asterisk abbr {
	border: none;
	text-decoration: none;
}
form.pmpro_form p {
	margin-bottom: 1.45rem;
}
form.pmpro_form hr {
	margin: 0 0 2.9rem 0;
}
form.pmpro_form .input {
	max-width: 90%;
}
form.pmpro_form textarea {
	width:90%;
}
form.pmpro_form label,
#loginform label {
	font-weight: 400;
}
form#pmpro_form .pmpro_checkout h2,
form#pmpro_form .pmpro_checkout h3 {
	background-color: #FAFAFA;
	border-top: 1px solid var(--memberlite-color-borders);
	border-bottom: 1px solid var(--memberlite-color-borders);
	font-size: 2.3rem;
	line-height: 3.7rem;
	padding: 1.45rem;
}
form#pmpro_form .pmpro_checkout h2 span.pmpro_checkout-h2-name,
form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-name {
	font-weight: 700;
	margin: 0;
}
form#pmpro_form .pmpro_checkout h2 span.pmpro_checkout-h2-msg,
form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-msg {
	float: right;
}
form#pmpro_form .pmpro_checkout h2 span.pmpro_checkout-h2-msg a,
form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-msg a {
	text-decoration: underline;
}
form#pmpro_form .pmpro_checkout-fields {
	padding: 1.45rem;
}
form#pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields {
	padding-bottom: 0;
}
form#pmpro_form #pmpro_payment_information_fields .pmpro_checkout-field-payment-request-button {
	padding: 1.45rem 1.45rem 0 1.45rem;
}
form#pmpro_form #pmpro_payment_information_fields .pmpro_checkout-field-payment-request-button h4 {
	margin-bottom: 0;
}
form#pmpro_form .pmpro_sslseal {
	padding: 1.45rem 1.45rem 1.45rem 0;
}
form.pmpro_form .pmpro_checkout #other_discount_code_p,
form.pmpro_form .pmpro_checkout #other_discount_code_div {
	border-top: 1px dotted var(--memberlite-color-borders);
	margin: 1.45rem 0 0 0;
	padding: 1.45rem 0 0 0;
}
form.pmpro_form .pmpro_checkout #other_discount_code_div input[type=button],
#other_discount_code_button,
#discount_code_button,
#vat_number_validation_button {
}
form.pmpro_form #pmpro_pricing_fields.pmpro_checkout h3 {
	margin-top: 0;
}
form.pmpro_form .pmpro_payment-expiration select {
	margin: 0 .5rem;
}
#secondary form.pmpro_form .pmpro_submit {
	text-align: center;
}
#secondary form.pmpro_form .pmpro_submit .pmpro_btn {
	display: block;
	width: 100%;
}

/* Membership Account */
#pmpro_account .pmpro_box {
	border: none;
	padding: 0;
	margin: 0 0 5.8rem;
}
#pmpro_account #pmpro_account-membership .pmpro_actionlinks,
#pmpro_account #pmpro_account-invoices .pmpro_actionlinks {
	text-align: center;
}
#pmpro_account #pmpro_account-membership table .pmpro_actionlinks {
	text-align: left;
}
#pmpro_account .pmpro_box ul li {
	margin-bottom: 0;
}
#pmpro_account .pmpro_actionlinks a {
	text-decoration: underline;
}

/* Membership Invoice */
.pmpro_invoice_wrap h3 {
	margin-top: 0;
}
.pmpro_invoice_wrap .pmpro_invoice_details p {
	margin-bottom: 0;
}

/* Membership Cancel */
.pmpro_cancel_wrap h2 {
	margin-top: 0;
}

/* Member Directory and Profiles */
.pmpro_member_directory h3 {
	margin-top: 0;
}

/* Sitewide Sales */
#pmpro_sws_banner_top span.pmpro_sws_banner-button .pmpro_btn {
	padding: .45rem 1.45rem;
}

/* Log In / Change Password / Profiles */
.pmpro_reset_password_wrap {
	margin-bottom: 2.9rem;
}
.pmpro_login_wrap h2,
.pmpro_lost_password_wrap h2,
.pmpro_reset_password_wrap h2,
.pmpro_member_profile_edit_wrap h2,
.pmpro_login_wrap h3,
.pmpro_lost_password_wrap h3,
.pmpro_reset_password_wrap h3,
.pmpro_member_profile_edit_wrap h3 {
	margin-top: 0;
}
.pmpro_login_wrap p.pmpro_actions_nav,
.pmpro_lost_password_wrap p.pmpro_actions_nav,
.pmpro_reset_password_wrap p.pmpro_actions_nav {
	text-align: left;
}
.pmpro_member_profile_edit_wrap h3 {
	background-color: #FAFAFA;
	border-top: 1px solid var(--memberlite-color-borders);
	border-bottom: 1px solid var(--memberlite-color-borders);
	padding: 1.45rem;
}
.pmpro_member_profile_edit_wrap .input[type=text],
.pmpro_member_profile_edit_wrap .input[type=email],
.pmpro_member_profile_edit_wrap .input[type=password] {
	width: 80%;
}
.pmpro_member_profile_edit_wrap .pmpro_checkout_box-user .pmpro_member_profile_edit-fields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.45rem;
}

/* Member Log In / Log Out Widget */
#secondary .pmpro_login_wrap,
#secondary .pmpro_logged_in_welcome_wrap {
	background-color: #FAFAFA;
	border: 1px solid var(--memberlite-color-borders);
	padding: 1.45rem;
}
.widget .pmpro_logged_in_welcome_wrap h3 {
	background: none;
	border: none;
	margin: 0 0 .9rem 0;
	padding: 0;
}
.widget .pmpro_login_wrap p.pmpro_actions_nav,
.widget .pmpro_logged_in_welcome_wrap p.pmpro_actions_nav {
	margin: 0;
	text-align: left;
}
.widget .pmpro_login_wrap hr,
.widget .pmpro_logged_in_welcome_wrap hr {
	margin: 1.45rem 0;
}
.widget .pmpro_login_wrap ul li,
.widget .pmpro_login_wrap ul.menu li,
.widget .pmpro_logged_in_welcome_wrap ul li,
.widget .pmpro_logged_in_welcome_wrap ul.menu li {
	border: none;
	margin: 0;
	padding: 0;
}
#secondary .widget.widget_pmpro_member_login ul.menu ul.sub-menu {
	margin-top: 0;
} 
#secondary .widget.widget_pmpro_member_login .pmpro_logged_in_welcome_wrap .menu {
	list-style: none;
	margin-left: 0;
}
.widget.widget_pmpro_member_login #loginform input[type=text],
.widget.widget_pmpro_member_login #loginform input[type=password] {
	max-width: 100%;
	width: 100%;
}
