/**
 * General Styles
 */
.pmpro_hidden {
	display: none;
}

.pmpro_submit {
	margin: var(--wp--preset--spacing--30) 0;
}

.lite {
	opacity: 0.6;
}

form p.lite {
	font-size: var(--wp--preset--font-size--14);
	margin: calc( var(--wp--preset--spacing--10) / 2 ) 0;
}

.pmpro_message {
	background-color: #EBF5FF;
	border-radius: var(--wp--custom--border--radius);
	color: #1E429F;
	margin: var(--wp--preset--spacing--30) 0;
	padding: calc( var(--wp--preset--spacing--20) / 2 ) var(--wp--preset--spacing--20);
}

.pmpro_message a {
	color: #1E429F;
}

.pmpro_error {
	background-color: #FDF2F2;
	color: #9B1C1C;
}

.pmpro_error a {
	color: #9B1C1C;
}

.pmpro_success {
	background-color: #F3FAF7;
	color: #03543F;
}

.pmpro_success a {
	color: #03543F;
}

.pmpro_alert {
	background-color: #FDFDEA;
	color: #723B13;
}

.pmpro_alert a {
	color: #723B13;
}

.pmpro_btn,
a.pmpro_btn {
	background-color: var(--wp--preset--color--grey-2);
	border: none;
	border-radius: var(--wp--custom--border--radius);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: var(--wp--custom--heading--font-family);
	font-size: var(--wp--preset--font-size--18);
	font-weight: var(--wp--custom--heading--font-weight);
	padding: calc( var(--wp--preset--spacing--10) / 2) var(--wp--preset--spacing--10);
	text-align: center;
	text-decoration: none;
	transition: background-color 0.25s ease-in-out;
	word-break: break-word;
}

.pmpro_btn:hover {
	background-color: var(--wp--preset--color--grey-3);
}

.pmpro_btn-submit,
a.pmpro_btn-submit
.pmpro_btn-select,
a.pmpro_btn-select {
	background-color: var(--wp--preset--color--tertiary);
	color: var(--wp--preset--color--base);		
}

.pmpro_btn-submit:hover,
.pmpro_btn-select:hover {
	background-color: var(--wp--preset--color--primary);
}

.pmpro_actions_nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--wp--preset--spacing--20);
	margin: var(--wp--preset--spacing--30) 0;
}
.pmpro_actions_nav-left {
	order: 1;
	text-align: left;
}
.pmpro_actions_nav-right {
	order: 2;
	text-align: right;
}

/* Membership Levels and Advanced Levels Page Shortcode */
body.pmpro-levels #nav-below {
	clear: both;
	margin: var(--wp--preset--spacing--30) var(--wp--preset--spacing--10);
}

#pmpro_levels {
	margin: var(--wp--preset--spacing--30) 0;
}

#pmpro_levels.pmpro_advanced_levels-div .post {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--grey-2);
	border-radius: var(--wp--custom--border--radius);
	box-shadow: var(--wp--custom--shadow);
	color: var(--wp--preset--color--contrast);
	margin: var(--wp--preset--spacing--10);
	padding: var(--wp--preset--spacing--20);
}

#pmpro_levels.pmpro_advanced_levels-div .medium-4,
#pmpro_levels.pmpro_advanced_levels-div .medium-3 {
	text-align: center;
}

#pmpro_levels .post h2 {
	color: var(--wp--preset--color--primary);
	margin: 0;
}

#pmpro_levels .medium-4 .pmpro_btn,
#pmpro_levels .medium-3 .pmpro_btn,
#pmpro_levels_table .pmpro_btn,
.pmpro_advanced_levels-compare_table .pmpro_btn,
.pmpro_advanced_levels-compare_table_responsive .pmpro_btn {
	display: block;
}

#pmpro_levels.pmpro_levels-table.pmpro_level-highlight,
#pmpro_levels.pmpro_levels-div .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-2col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-3col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-4col .pmpro_level-highlight,
.memberlite_signup,
.pmpro_signup_form {
	z-index: 100;
	border-top: var(--wp--preset--spacing--10) solid var(--wp--preset--color--secondary);
	border-bottom: var(--wp--preset--spacing--20) solid var(--wp--preset--color--secondary);
}

#pmpro_levels.pmpro_levels-2col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-3col .pmpro_level-highlight,
#pmpro_levels.pmpro_levels-4col .pmpro_level-highlight {
	margin-top: var(--wp--preset--spacing--10) - calc( var(--wp--preset--spacing--10) * 2);
}

#pmpro_levels.pmpro_levels-table .pmpro_level-highlight td:first-child {
	border-left: var(--wp--preset--spacing--10) solid var(--wp--preset--color--secondary);
}
#pmpro_levels.pmpro_levels-table .pmpro_level-highlight td:last-child {
	border-right: var(--wp--preset--spacing--10) solid var(--wp--preset--color--secondary);
}

.pmpro_levels-3col .pmpro_level-price,
.pmpro_levels-4col .pmpro_level-price {
	font-family: var(--wp--custom--heading--font-family);
	font-size: var(--wp--preset--font-size--30);
	margin: 0;
}

.pmpro_levels-div .pmpro_btn-select,
.pmpro_levels-2col .pmpro_btn-select {
	margin-left: var(--wp--preset--spacing--20);
}

.pmpro_levels-div .pmpro_level-expiration {
	color: var(--wp--preset--color--grey-3);
}

.pmpro_levels-div .pmpro_level-price,
.pmpro_levels-2col .pmpro_level-price,
.pmpro_levels-div .pmpro_level-expiration,
.pmpro_levels-2col .pmpro_level-expiration {
	display: inline;
	margin: 0;
}

#pmpro_levels.pmpro_advanced_levels-div .entry-footer {
	padding: 0;
}

#pmpro_levels.pmpro_advanced_levels-compare_table {
	overflow: hidden;
}
#pmpro_levels.pmpro_advanced_levels-compare_table th,
#pmpro_levels.pmpro_advanced_levels-compare_table td {
	padding: 1rem 2rem;
	position: relative;
	text-align: center;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th {
	border: none;
	padding-top: 0;
	text-align: center;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th h2 {
	margin-bottom: 0;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th:first-child,
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot td:first-child {
	background: none;
	border: none;
	text-indent: -9999em;
	width: 20%;
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr th:nth-child(even) {
	background-color: rgba(0,0,0,0.1);
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td {
	vertical-align: middle;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td:first-child {
	text-align: right;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr:last-child td {
	border-bottom: .5rem solid var(--memberlite-color-borders);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr:last-child th {
	border-bottom: .5rem solid var(--memberlite-color-borders);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead th.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot td.pmpro_level-highlight {
	border-left: 1rem solid var(--memberlite-color-secondary);
	border-right: 1rem solid var(--memberlite-color-secondary);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr:first-child th.pmpro_level-highlight {
	border-top: 1rem solid var(--memberlite-color-secondary);
}
#pmpro_levels.pmpro_advanced_levels-compare_table thead tr:last-child th.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr td.pmpro_level-highlight,
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot tr td.pmpro_level-highlight {
	border-bottom: none;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tfoot tr:last-child td.pmpro_level-highlight {
	border-bottom: 1rem solid var(--memberlite-color-secondary);
}

#pmpro_levels.pmpro_advanced_levels-compare_table_responsive {
	display: none;
}
#pmpro_levels.pmpro_advanced_levels-compare_table_responsive {
	text-align: center;
}
#pmpro_levels.pmpro_advanced_levels-compare_table_responsive .pmpro_level-highlight {
	border-top: .5rem solid var(--memberlite-color-secondary);
	border-bottom: 1.5rem solid var(--memberlite-color-secondary);
	border-left: 1px solid var(--memberlite-color-borders);
	border-right: 1px solid var(--memberlite-color-borders);
}

#pmpro_levels.pmpro_advanced_levels-compare_table:hover tbody tr:nth-child(even) td {
	background: none !important;
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr:hover {
	background-color: rgba(252,248,227,0.8);
}
#pmpro_levels.pmpro_advanced_levels-compare_table tbody td:hover::after,
#pmpro_levels.pmpro_advanced_levels-compare_table tbody tr:nth-child(even) td:hover::after {
  background-color: rgba(252,248,227,0.3);
  content: "";
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}

/* Special Fields */
.pmpro_checkout-field-date select,
.pmpro_checkout-field-date input {
	margin-right: calc( var(--wp--preset--spacing--10) / 2);
}

form.pmpro_form label input[type=checkbox] {
	margin-right: calc( var(--wp--preset--spacing--10) / 2);
}

/* Membership Checkout */
.pmpro_asterisk {
	color: #C00;
}
.pmpro_asterisk abbr {
	border: none;
	text-decoration: none;
}
form.pmpro_form hr {
	display: none;
}
form.pmpro_form .input {
	max-width: 90%;
}
form.pmpro_form textarea {
	width: 90%;
}
form.pmpro_form .pmpro_checkout {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--grey-2);
	border-radius: var(--wp--custom--border--radius);
	box-shadow: var(--wp--custom--shadow);
	color: var(--wp--preset--color--contrast);
	margin: var(--wp--preset--spacing--30) 0;
	padding: var(--wp--preset--spacing--20);
}
form#pmpro_form .pmpro_checkout h2,
form#pmpro_form .pmpro_checkout h3 {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: var(--wp--preset--spacing--20);
}
form#pmpro_form .pmpro_checkout h2 span.pmpro_checkout-h2-msg,
form#pmpro_form .pmpro_checkout h3 span.pmpro_checkout-h3-msg {
	font-weight: 400;
	font-size: var(--wp--preset--font-size--16);
}
form#pmpro_form .pmpro_checkout .pmpro_checkout-fields .pmpro_checkout-field {
	margin-bottom: var(--wp--preset--spacing--20);
}

form#pmpro_form .pmpro_checkout .pmpro_checkout-field label {
	display: block;
}
/* TO DO
form#pmpro_form #pmpro_payment_information_fields .pmpro_checkout-field-payment-request-button {
	padding: 1.45rem 1.45rem 0 1.45rem;
}
form#pmpro_form #pmpro_payment_information_fields .pmpro_checkout-field-payment-request-button h4 {
	margin-bottom: 0;
}
form#pmpro_form .pmpro_sslseal {
	padding: 1.45rem 1.45rem 1.45rem 0;
}
form.pmpro_form .pmpro_checkout #other_discount_code_p,
form.pmpro_form .pmpro_checkout #other_discount_code_div {
	border-top: 1px dotted var(--memberlite-color-borders);
	margin: 1.45rem 0 0 0;
	padding: 1.45rem 0 0 0;
}
form.pmpro_form .pmpro_checkout #other_discount_code_div input[type=button],
#other_discount_code_button,
#discount_code_button,
#vat_number_validation_button {
}
form.pmpro_form #pmpro_pricing_fields.pmpro_checkout h3 {
	margin-top: 0;
}
form.pmpro_form .pmpro_payment-expiration select {
	margin: 0 .5rem;
}
#secondary form.pmpro_form .pmpro_submit {
	text-align: center;
}
#secondary form.pmpro_form .pmpro_submit .pmpro_btn {
	display: block;
	width: 100%;
}
 */


/* Membership Account */
#pmpro_account .pmpro_box {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--grey-2);
	border-radius: var(--wp--custom--border--radius);
	box-shadow: var(--wp--custom--shadow);
	color: var(--wp--preset--color--contrast);
	margin: var(--wp--preset--spacing--30) 0;
	padding: var(--wp--preset--spacing--20);
}
#pmpro_account #pmpro_account-membership .pmpro_actionlinks,
#pmpro_account #pmpro_account-invoices .pmpro_actionlinks {
	text-align: center;
}
#pmpro_account #pmpro_account-membership table .pmpro_actionlinks {
	text-align: left;
}
#pmpro_account .pmpro_box ul li {
	margin-bottom: 0;
}
#pmpro_account .pmpro_actionlinks a {
	text-decoration: underline;
}

/* Membership Invoice */
.pmpro_invoice_details > * {
	margin-bottom: var(--wp--preset--spacing--30);
}

@media (min-width: 782px) {
	.pmpro_invoice_details {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.pmpro_invoice_details .pmpro_invoice-billing-address,
	.pmpro_invoice_details .pmpro_invoice-payment-method,
	.pmpro_invoice_details .pmpro_invoice-total {
		-webkit-box-flex: 3;
			-ms-flex: 3 1 33%;
				flex: 3 1 33%;
	}
	.pmpro_invoice_details .pmpro_invoice-payment-method,
	.pmpro_invoice_details .pmpro_invoice-total {
		padding-left: var(--wp--preset--spacing--20);
	}
}

.pmpro_invoice-field-billing_name,
.pmpro_invoice-field-billing_street,
.pmpro_invoice-field-billing_country,
.pmpro_invoice-field-billing_phone {
	display: block;
}

.pmpro_invoice-field-billing_city:after {
	content: ',';
}

/* Membership Cancel */
.pmpro_cancel_wrap h2 {
	margin-top: 0;
}

/* Member Directory and Profiles */
.pmpro_member_directory h3 {
	margin-top: 0;
}

.pmpro_member_directory-item,
.pmpro_member_profile {
	background-color: var(--wp--preset--color--base);
	border: 1px solid var(--wp--preset--color--grey-2);
	border-radius: var(--wp--custom--border--radius);
	box-shadow: var(--wp--custom--shadow);
	color: var(--wp--preset--color--contrast);
	margin: var(--wp--preset--spacing--30) 0;
	padding: var(--wp--preset--spacing--20);
}

.pmpro_member_directory-item > * {
	margin: calc( var(--wp--preset--spacing--10) / 2) 0;
}

.pmpro_member_directory-item .pmpro_member_directory_avatar {
	float: left;
	margin-right: var(--wp--preset--spacing--30);
}

.pmpro_member_directory-item .pmpro_member_directory_avatar a {
	display: block;
}

.pmpro_member_profile .pmpro_member_directory_avatar {
	float: right;
	margin: 0 0 var(--wp--preset--spacing--20) var(--wp--preset--spacing--20);
}
/* Sitewide Sales */
#pmpro_sws_banner_top span.pmpro_sws_banner-button .pmpro_btn {
	padding: .45rem 1.45rem;
}

/* Log In / Change Password / Profiles */
.pmpro_login_wrap p.pmpro_actions_nav,
.pmpro_lost_password_wrap p.pmpro_actions_nav,
.pmpro_reset_password_wrap p.pmpro_actions_nav {
	text-align: left;
}
.pmpro_member_profile_edit_wrap h3 {
	background-color: #FAFAFA;
	border-top: 1px solid var(--memberlite-color-borders);
	border-bottom: 1px solid var(--memberlite-color-borders);
	padding: 1.45rem;
}

.pmpro_member_profile_edit_wrap label,
.pmpro_change_password_wrap label,
.pmpro_login_wrap label,
.pmpro_lost_password_wrap label,
.pmpro_reset_password_wrap label {
	display: block;
}

.pmpro_member_profile_edit-field,
.pmpro_change_password-field,
#loginform p,
.pmpro_lost_password-field {
	margin: 0 0 var(--wp--preset--spacing--20) 0;
}

.pmpro_member_profile_edit_wrap .input[type=text],
.pmpro_member_profile_edit_wrap .input[type=email],
.pmpro_member_profile_edit_wrap .input[type=password] {
	width: 80%;
}

.pmpro_member_profile_edit_wrap .pmpro_checkout_box-user .pmpro_member_profile_edit-fields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: var(--wp--preset--spacing--20);
}

/* Password Strength Meter on Frontend Forms */
.pmpro_reset_password_wrap form.pmpro_form #pass-strength-result,
form.pmpro_form .pmpro_change_password-fields #pass-strength-result {
	display: inline-block;
	max-width: 150px;
}

/* Member Log In / Log Out Widget */
#secondary .pmpro_login_wrap,
#secondary .pmpro_logged_in_welcome_wrap {
	background-color: #FAFAFA;
	border: 1px solid var(--memberlite-color-borders);
	padding: 1.45rem;
}
.widget .pmpro_logged_in_welcome_wrap h3 {
	background: none;
	border: none;
	margin: 0 0 .9rem 0;
	padding: 0;
}
.widget .pmpro_login_wrap p.pmpro_actions_nav,
.widget .pmpro_logged_in_welcome_wrap p.pmpro_actions_nav {
	margin: 0;
	text-align: left;
}
.widget .pmpro_login_wrap hr,
.widget .pmpro_logged_in_welcome_wrap hr {
	margin: 1.45rem 0;
}
.widget .pmpro_login_wrap ul li,
.widget .pmpro_login_wrap ul.menu li,
.widget .pmpro_logged_in_welcome_wrap ul li,
.widget .pmpro_logged_in_welcome_wrap ul.menu li {
	border: none;
	margin: 0;
	padding: 0;
}
#secondary .widget.widget_pmpro_member_login ul.menu ul.sub-menu {
	margin-top: 0;
} 
#secondary .widget.widget_pmpro_member_login .pmpro_logged_in_welcome_wrap .menu {
	list-style: none;
	margin-left: 0;
}
.widget.widget_pmpro_member_login #loginform input[type=text],
.widget.widget_pmpro_member_login #loginform input[type=password] {
	max-width: 100%;
	width: 100%;
}

/**
 * Utilities
 */
#pass-strength-result {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #23282d;
	margin: -1px 1px 5px;
	padding: 3px 5px;
	text-align: center;
	width: 25em;
	box-sizing: border-box;
	opacity: 0;
}

#pass-strength-result.short {
	background-color: #f1adad;
	border-color: #e35b5b;
	opacity: 1;
}

#pass-strength-result.bad {
	background-color: #fbc5a9;
	border-color: #f78b53;
	opacity: 1;
}

#pass-strength-result.good {
	background-color: #ffe399;
	border-color: #ffc733;
	opacity: 1;
}

#pass-strength-result.strong {
	background-color: #c1e1b9;
	border-color: #83c373;
	opacity: 1;
}

.pass1.short, .pass1-text.short {
	border-color: #e35b5b;
}

.pass1.bad, .pass1-text.bad {
	border-color: #f78b53;
}

.pass1.good, .pass1-text.good {
	border-color: #ffc733;
}

.pass1.strong, .pass1-text.strong {
	border-color: #83c373;
}

.pw-weak {
	display: none;
}

.indicator-hint {
	padding-top: 8px;
}

.wp-pwd [type="text"],
.wp-pwd [type="password"] {
	margin-bottom: 0;
	/* Same height as the buttons */
	min-height: 30px;
}

/* Hide the Edge "reveal password" native button */
.wp-pwd input::-ms-reveal {
	display: none;
}

.pass1-text,
.show-password #pass1 {
	display: none;
}

.pass1-text::-ms-clear {
	display: none;
}

.show-password #pass1-text {
	display: inline-block;
}
